<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.software.managed_users" android:required="false" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_PROFILES" />

    <queries>
        <package android:name="com.mercadolibre" />
        <package android:name="com.mercadopago.wallet" />
        <package android:name="com.android.vending" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="Multi ML"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".ProvisioningModeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.app.action.GET_PROVISIONING_MODE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.app.action.ADMIN_POLICY_COMPLIANCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MultiMlAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
